body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(153, 0, 255);
    color: rgb(0, 0, 0);
    height: 120px;
}

.logo {
    width: 200px;
}

nav ul {
    list-style: none;
    padding: 40px;
}

nav ul li {
    display: inline;
    margin-left: 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-gallery {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        display: block;
    }
    
    nav ul li {
        display: block;
        margin: 5px 0;
    }
    
    .flex-gallery {
        flex-direction: column;
    }
    
    .grid-layout {
        grid-template-columns: 1fr;
    }
}
